$myYellow: rgb(233, 233, 13);
$myGreen: rgb(33, 149, 33);

body {
  backdrop-filter: blur(5px);
  background: url("../images/bacteria.jpg") no-repeat;
  /*This next command keeps the inherited background full-sized*/
  background-attachment: fixed;
  background-size: cover;
  color: $myYellow;
  font-family: 'Acme', sans-serif;
}
