@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

a {
  border: 2px solid chartreuse;
  border-radius: 2px;
  margin: 1px;
  padding: 3px;
}

a:hover {
  color: #fff;
}
 

#cellGrid {
  background: green;
  border-radius: 5px;
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-columns:  repeat(16, 20px);
  grid-template-rows:     repeat(16, 20px);

  padding: 2px;
  border: 2px;
  margin: 2px;
}

#copyright {
  text-align: center;
}

#gridWrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  border: 1px;
  margin: 1px;
  padding: 1px;
}

h1 {
  text-align: center;
  transition: 1s;
}

h1:hover {
  color: orange;
  transition: 1s;
}

p:nth-child(n) {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  justify-self: start;
  width: 20px;
  
  border: 0;
  margin: 0;
  padding: 0;

  transition: 0.5s ease;
}

p:nth-child(n):hover {
  border: 1px solid green;
  background: gray;
  rotate: 135deg;
}

.panel-button{
  border-radius: 5px;
}

#step {
  background: gray;
  color: blue;
}

#welcomePanel {
  background: green;
  border-radius: 5px;
  height: 160px;
  width: 120px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2px;
  border: 2px;
  margin: 2px;
}
