@import url('https://fonts.googleapis.com/css?family=Acme&display=swap');

a {
  background-color: rgb(167, 255, 95);
  border: 2px solid chartreuse;
  border-radius: 2px;
  margin: 1px;
  padding: 3px;
}

a:hover {
  background-color: fuchsia;
  color: #fff;
}

#cellGrid {
  background: green;
  border-radius: 5px;
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
  grid-template-columns:  repeat(16, 20px);
  grid-template-rows:     repeat(16, 20px);

  padding: 2px;
  border: 2px;
  margin: 2px;
}

#copyright {
  text-align: center;
}

#gridWrapper {
  display: flex;
  flex-direction: row;

  border-radius: 20px;

  border: 1px;
  margin: 1px;
  padding: 1px;
}

h1 {
  background: rgb(167, 255, 95);
  color: blue;
  text-align: center;
  transition: 1s;
}

h1:hover {
  color: orange;
  transition: 1s;
}

p:nth-child(n) {
  background: white;
  border-radius: 5px;
  box-shadow: 0 0 2px #000;
  justify-self: start;
  width: 20px;
  
  border: 0;
  margin: 0;
  padding: 0;

  transition: 0.5s ease;
}

p:nth-child(n):hover {
  border: 1px solid green;
  background: gray;
  rotate: 135deg;
}

.panel-button{
  border-radius: 5px;
  color: black;
  text-align: center;
  width: 100%;
}

#play-pause {
  text-align: center;
}

#preset-heading {
  background: none;
  border: none;
}

#preset-wrapper {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#step {
  color: blue;
  text-align: center;
  width: 100%;
}

#step:hover {
  background: fuchsia;
}

#step-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

#step-heading{
  background: none;
  border: none;
}

#welcomePanel {
  background: green;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 2px;
  border: 2px;
  margin: 2px;
}

#welcomePanel > a {
  width: 100%;
  text-align: center;
}
