.App-wrapper{
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(13, 7.7vh);
}

.upper-left{
  border: 4px solid purple;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  height: auto;
  margin: 5px;
  padding: 5px;
}

.upper-right-a{
  border: 4px solid purple;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;

  height: auto;

  margin: 5px;
  padding: 5px;
}

.upper-right-b{
  border: 4px solid purple;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 5;

  height: auto;

  margin: 5px;
  padding: 5px;
}

.lower-half{
  border: 4px solid purple;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 13;
  
  margin: 5px;
  padding: 5px;
}

.page-title{
  font-family: 'Kanit', sans-serif;
}