$background: rgb(123, 123, 236);
$border-color: rgb(202, 62, 7);
$hover-color: rgb(206, 206, 24);
$panel-almond: rgb(238, 217, 186);
$panel-orange: rgb(241, 138, 97);

$default-margin: 5px;
$default-padding: 5px;

*{
  background-color: $background;
  font-family: 'Nova Mono', monospace;
}

.App-wrapper{
  display: grid;
  grid-template-columns: repeat(8, 12.5vw);
  grid-template-rows: repeat(13, 7.7vh);

  & :hover{
    background-color: $hover-color;
  }
}

button {
  background-color: green;
  color: white;
  font-weight: 900;
  
  margin: 0;
  padding: 0;
}

.byline {
  background-color: inherit;
}

.count-up,
.count-down{
  margin: $default-margin;
  padding: $default-padding;

  & :hover{
    background-color: blue;
  }
}

.english{
  background-color: inherit;
}

.entry-section{
  background-color: inherit;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: $default-margin;
  padding: $default-padding;
}

.fact-label{
  background-color: inherit;
}

.fact-section{
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: $default-margin;
  padding: $default-padding;
}

p{
  background-color: inherit;
}

html{
  width: 100%;
  height: 100%;
  overflow-x:hidden;
}

.integer-input-box{
  margin: 0;
  padding: 0;
  width: 50px;
}

.lower-half{
  background-color: $panel-almond;
  border: 4px solid $border-color;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 8;
  grid-row-start: 5;
  grid-row-end: 13;
  
  margin: $default-margin;
  padding: $default-padding;
}

.page-title{
  background-color: inherit;
  transform: rotate(-15deg);
  transition: transform .2s;
}

.page-title:hover{
  transform: scale(1.5);
}

#root{
  background-color: $background;
}

span{
  background-color: inherit;
}

.upper-left{
  background-color: $panel-orange;
  border: 4px solid $border-color;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 5;
  height: auto;
  margin: $default-margin;
  padding: $default-padding;
}

.upper-right-a{
  background-color: $panel-almond;
  border: 4px solid $border-color;

  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 1;
  grid-row-end: 5;

  height: auto;

  margin: $default-margin;
  padding: $default-padding;
}

.upper-right-b{
  background-color: $panel-orange;
  border: 4px solid $border-color;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 5;

  height: auto;

  margin: $default-margin;
  padding: $default-padding;
}

.華語版本{
  background-color: inherit;
  font-family: 'ZCOOL XiaoWei', serif;
}